body {
  display: flex;
  align-items: center;
  justify-self: center;
  background: linear-gradient(201deg, #a18cd1, #dbd141ce);
  color: #2e004f;
  font-size: 20px !important;
  font-family: 'Times New Roman', Times, serif !important;
}

/*#region button styles*/
button:focus {
  outline: unset !important;
  border: 2px solid #2e004f;
}

button {
  border: 0 !important;
  color: #fff;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 6px 6px 0;
  background-color: #7b2cbf !important;
  height: 39px;
}
/*#endregion*/

/*#region TabWrap*/
.tab-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;

  button {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fav-container {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
}
/*#endregion*/

/*#region Todo List*/
.todo-wrap {
  border: 1px solid #000;
  width: 600px;
  height: 600px;
  background-color: #a3a3a394;
  padding: 10px;
  row-gap: 10px;
  display: flex;
  flex-direction: column;

  .list-wrap {
    height: 578px;
    width: 100%;
    overflow-y: auto;
  }

  .todo-main-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    color: #1c0030;
    padding: 4px;
    padding-left: 8px;

    .todo-inpdata-wrap {
      display: flex;
      column-gap: 10px;
      align-items: center;
    }

    .fav-btn {
      border-radius: 6px !important;
    }
  }

  .fav-icn {
    width: 32px;
    height: 32px;
    /* background-color: lightgreen; */
  }
}
/*#endregion*/

/*#region Toggle Switch Starts Here*/
.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked+.slider {
  background-color: #7b2cbf;
}

input:focus+.slider {
  box-shadow: 0 0 1px #000;
}

input:checked+.slider:before {
  transform: translateX(115px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4b4b4b;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  transition: .4s;
}
/*#endregion*/

.label {
  z-index: 99;
  display: block;
  position: absolute;
  top: 5px;
  left: 22px;
  color: #fff;
  font-weight: 600;
  font-size: 16px !important;
  display: flex;
  column-gap: 5px;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
}

.todo-title {
  background: linear-gradient(90deg, #000, #7b2cbf, #4b4b4b);
  background-size: 300%;
  animation: moveGradient 1s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 40px;
}

@keyframes moveGradient {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 100%;
  }
}